@font-face {
  font-family: "JosefinSans";
  src: url("/src/fonts/JosefinSans.ttf") format("truetype");
  style: "normal";
  weight: "100 900";
}

body {
  font-family: "JosefinSans", sans-serif;
  background-color: #f5f5f5;
  font-size: medium;
  line-height: 1.8;
}

html.dark-mode body {
  background-color: #262626;
  color: #f5f5f5;
}

.app-container {
}

.weather-container {
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  gap: 3px;
}

.header-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.header-toggle {
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
}

.dark-mode .header-toggle {
  color: #f5f5f5;
}
