.weather-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  margin: 60px;
  line-height: 1;
}

.weather-header {
  display: grid;
  justify-items: start;
  justify-content: start;
  align-items: center;
}

.weather-title {
  font-size: 87px;
  font-weight: bold;
}

.weather-area {
  font-size: 67px;
  font-weight: bold;
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  line-height: 1.7;
}
