.weather-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  margin: 60px;
  line-height: 1;

  @media only screen and (max-width: 500px) {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0px;
  }
}

.weather-header {
  display: grid;
  justify-items: start;
  justify-content: start;
  align-items: center;
}

.weather-title {
  font-size: 87px;
  font-weight: bold;
}

.weather-area {
  font-size: 67px;
  font-weight: bold;
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: 24px;
  line-height: 1.7;
}

.separator {
  margin-top: 3px;
  margin-bottom: 3px;
}
